@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.choose-link {
  color: #741FF5 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'PowerGrotesk';
  src: url('/fonts/PowerGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MabryPro';
  src: url('/fonts/MabryPro-Black.ttf') format('truetype');
  font-weight:normal;
  font-style: normal;
}

@font-face {
  font-family: 'MabryPro-Medium';
  src: url('/fonts/MabryPro-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MabryPro-Regular';
  src: url('/fonts/MabryPro-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}